! The default values are in: /usr/share/X11/app-defaults/XTerm
! Resources:
! https://forum.manjaro.org/t/how-to-which-font-is-used-by-xterm-i-didnt-set-font-for-xterm-in-xresourses/60112
! https://emacspeak.blogspot.com/2015/09/setting-up-x-environment-for-using-with.html

! To update this settings run: 'xrdb .Xresources'

!*.vt100.reverseVideo: true

!XTerm.termName: xterm-256color

!XTerm*locale: true
XTerm*locale: false
XTerm*utf8: true

XTerm*metaSendsEscape: true

XTerm*scrollBar: true
XTerm*scrollbar.width: 16
XTerm*saveLines: 10000000

XTerm*background: black
XTerm*foreground: white

XTerm*faceName: Monospace:antialias=true
XTerm*faceSize: 12

XTerm*loginShell: true

XTerm*on4Clicks: all
XTerm*selectToClipboard:true

XTerm*printAttributes: 0
XTerm*printerCommand: xterm -maximized -T History -e sh -c 'less -r <&3' 3<&0

! For toggle between full screen use Alt-Enter
XTerm*translations: #override \n\
    Ctrl <Key>M: maximize() \n\
    Ctrl <Key>R: restore() \n\
    Ctrl Shift <Key>F: fullscreen() \n\
    Ctrl <Key>F: print-everything() \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
